In [1]:
#Implement the Monte Carlo Method to simulate a stock portfolio

In [4]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from pandas_datareader import data as pdr

In [7]:
yf.download('TSLA', '2010-07-01', '2024-02-08' )

C:\Users\sheha\anaconda3\envs\dojo-env\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
2010-07-07,1.093333,1.108667,0.998667,1.053333,1.053333,103825500
2010-07-08,1.076000,1.168000,1.038000,1.164000,1.164000,115671000
...,...,...,...,...,...,...
2024-02-01,188.500000,189.880005,184.279999,188.860001,188.860001,91843300
2024-02-02,185.039993,188.690002,182.000000,187.910004,187.910004,110505100
2024-02-05,184.259995,184.679993,175.009995,181.059998,181.059998,134294400
2024-02-06,177.210007,186.490005,177.110001,185.100006,185.100006,122676000
2024-02-07,188.179993,189.789993,182.679993,187.580002,187.580002,111535200

In [18]:
#import data
def get_data(stocks, start, end):
    stockdata = yf.download(stocks, start, end)
    stockdata = stockdata['Close']
    returns = stockdata.pct_change() #percent of daily changes
    meanReturns = returns.mean()
    covMatrix = returns.cov()
    return meanReturns, covMatrix, stockdata
    
stocklist = ['TSLA', 'AAPL']
stocks = [stock for stock in stocklist]
endDate = dt.datetime.now()
startDate = endDate - dt.timedelta(days =300)

In [19]:
meanReturns, covMatrix, stockdata = get_data(stocks, startDate, endDate)

C:\Users\sheha\anaconda3\envs\dojo-env\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
C:\Users\sheha\anaconda3\envs\dojo-env\lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  2 of 2 completed

In [20]:
print(meanReturns,covMatrix)

Ticker
AAPL    0.000609
TSLA    0.000665
dtype: float64 Ticker      AAPL      TSLA
Ticker
AAPL    0.000144  0.000132
TSLA    0.000132  0.000928

In [21]:
stockdata

Ticker            AAPL        TSLA
Date
2023-04-19  167.630005  180.589996
2023-04-20  166.649994  162.990005
2023-04-21  165.020004  165.080002
2023-04-24  165.330002  162.550003
2023-04-25  163.770004  160.669998
...                ...         ...
2024-02-06  189.300003  185.100006
2024-02-07  189.410004  187.580002
2024-02-08  188.320007  189.559998
2024-02-09  188.850006  193.570007
2024-02-12  187.149994  188.130005

[206 rows x 2 columns]